header {
  display: flex;
}

.logo {
  width: 70px;
  height: 29px;
  margin-top: 73px;
}

.logo h1 {
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #134cdf;
  font-family: "Roboto", sans-serif;
}

.menu-text {
  list-style: none;
  display: flex;
  width: 500px;
  height: 11px;
  margin-top: 84px;
  margin-left: 142px;
  justify-content: space-around;
}

.menu-text a {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: right;
  mix-blend-mode: normal;
  opacity: 0.8;
  color: black;
}

.text-head {
  height: 52px;
  left: 149px;
  margin-top: 199px;
}

.text-head h1 {
  font: 900;
  width: 596px;
  font-size: 52px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #333333;
}

.text-head p {
  width: 495px;
  height: 72px;
  margin-top: 23px;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.button {
  margin-top: 32px;
}

button {
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: #134cdf;
  color: white;
}

.head-img {
  width: 424px;
  height: 546px;
  transform: rotate(90deg);
  margin-top: 105px;
  margin-left: 50px;
  background: #ffffff;
  border: 2px solid #dbdbdb;
  border-radius: 2px;
}

.head-img img {
  width: 63.85px;
  height: 50.86px;
  margin-top: 241.15px;
  margin-left: 187px;
  transform: rotate(270deg);
}
.description {
  width: 596px;
  height: 48px;
  margin-top: 269;
}
#body {
  justify-content: center;
  margin-top: 269px;
}

#body h1 {
  font-size: 44px;
  line-height: 48px;
  font: 700;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.95px;
  width: 596px;
  height: 48px;
  margin-left: 250px;
}
#left-text {
  width: 571px;
  height: 185px;
  margin-top: 58px;
}
#left-text p {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.description {
  margin-top: 59px;
  margin-left: 105px;
  width: 148.63px;
  height: 19px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #333333;
}
#pod-description {
  width: 533px;
  height: 44px;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #333333;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-left: 105px;
}
#description-2 {
  margin-top: 30px;
  margin-left: 105px;
  width: 148.63px;
  height: 19px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #333333;
}

#advantages h1 {
  width: 596px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  line-height: 48px;
  display: flex;
  margin-left: 400px;
  letter-spacing: -0.95px;
  color: #333333;
  margin-top: 150px;
  font: 900;
}

#advantages p {
  width: 696px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-left: 200px;
  margin-top: 10px;
}

.advantages-img-1 {
  width: 100px;
  height: 100px;
  margin-top: 68px;
  margin-left: 105px;
}

h6 {
  width: 247px;
  height: 23px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  margin-top: 37px;
  color: #333333;
}
#advantages-img-1 {
  margin-left: 40px;
}

.advantages-img-2 {
  width: 100px;
  height: 100px;
  margin-top: 68px;
  margin-left: 100px;
}

#advantages-img-2 {
  margin-left: 40px;
}

.advantages-img-3 {
  width: 100px;
  height: 100px;
  margin-top: 68px;
  margin-left: 100px;
}

#advantages-img-3 {
  margin-left: 40px;
}

.advantages-after {
  width: 318px;
  height: 96px;
  margin-top: 14px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#stage {
  width: 596px;
  font-family: "Roboto", sans-serif;
  height: 48px;
  font-size: 44px;
  line-height: 48px;
  display: flex;
  margin-left: 400px;
  letter-spacing: -0.95px;
  color: #333333;
  margin-top: 159px;
  font: 900;
}
.col-xl-4 h1 {
  width: 149px;
  height: 67px;
  margin-top: 70px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 124px;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #134cdf;
  font: 900;
}

.col-xl-4 p {
  margin-top: 30px;
  width: 322px;
  height: 66px;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #333333;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#gallery {
  width: 596px;
  font-family: "Roboto", sans-serif;
  height: 48px;
  font-size: 44px;
  line-height: 48px;
  display: flex;
  margin-left: 450px;
  letter-spacing: -0.95px;
  color: #333333;
  margin-top: 159px;
  font: 900;
}

@media screen and (max-width: 576px) {
  .logo {
    display: none;
  }
  #header {
    flex-direction: column-reverse;
  }
  .text-head {
    margin-top: 10px;
    width: 100%;
  }
  .text-head h1 {
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  .text-head p {
    width: 100%;
  }
  .head-img {
    margin-top: 10px;
    width: 100%;
  }
  .head-img img {
    justify-items: center;
    align-items: center;
  }
  .menu-text {
    justify-content: space-between;
    margin-left: 0px;
    width: 100%;
    margin-top: 10px;
  }
  button {
    width: 100%;
  }
}
